body{
   font-family: "Raleway", sans-serif;
   padding: 0 38px;
}

.bold{
   font-weight: bold;
}
/* Nav */

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav img{
   height: 50px;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 30px;
}

nav ul{
   list-style: none;
   display: flex;
   margin-top: 10px;
}

nav li{
   margin: 0 15px;
   block-size: 100%;
}

nav a{
   color: black;
   padding: 59px 25px 0;
   text-decoration: none;
   font-weight: 500;
}
nav a:hover{
   color:#0065FC;
   border-top: 2px solid #0065FC;
}

/* Main */ 

   /*Search*/

.search h1{
   font-size: 22px;
}

.search h2{
   font-weight:normal;
   font-size: 17px;
}

   /*Filter*/

.filter h1{
   font-size: 125%
}

.filter{
   display: flex;
   align-items: center;
}

.filter ul{
   list-style: none;
   display: flex;
}

.filter li{
   margin: 0 10px;
   border: 2px solid #d9d9d9;
   border-radius: 40px ;
   font-weight: bold;
   text-align: center;
   vertical-align: middle;
   font-size: larger;
}

.filter i{
   color:#0065FC;
   background-color: #DEEBFF;
   padding: 12px;
   width: 20px;
   margin-right: 8px;
   border-radius: 25px;
   object-fit: none;
   transition: 0.5s;
}

.filter a{
   display: block;
   color: black;
   padding-right: 12px;
   border-radius: 25px;
   text-decoration: none;
   transition: 0.5s;
}

.filter a:hover {
   background-color:#0065FC;
   color: #DEEBFF;
}

.filter a:hover i {
   background-color:#0065FC;
   color: #DEEBFF;

}

   /*Filter-sub*/

.filter-sub{
   margin: 30px 0;
}
.filter-sub i{
   color:#0065FC;
   padding: 4px;
   width: 17px;
   margin-right: 8px;
   border: 3px solid #d9d9d9;
   border-radius: 25px;
   object-fit: contain;
   text-align: center;
}

.filter-sub h2{
   font-weight:normal;
   font-size: 17px;
}
   
   /*Bloc-1*/

.bloc-1{
   display: flex;
   align-items: start;
}

   /*Place*/

.place{
   background-color: #f2f2f2;
   width: 1005px;
   padding: 40px ;
   border-radius: 25px;
   margin-bottom:40px;
   margin-right: 40px;
}

.place h2{
   margin: 0;
   margin-bottom: 30px;
}

.place h4{
   margin: 0;
   text-decoration: none;
   width: 100px;
}

.place h4:hover{
   color: #0065FC;
}

.place-bubble{
   display: flex;
   align-items: center;
}

.place-bubble img{
   border-radius: 25px 25px 0 0;
   object-fit: cover;
   width: 300px;
   height: 150px;
}

.place-bubble a{
   color: black;
   text-decoration: none;
}

.place-bubble-1{
   border: 4px solid white;
   border-radius: 25px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   width: 300px;
   margin-right: 40px;
   margin-bottom: 40px;
}

.place-bubble-1 h3,.place-bubble-1 p{
   padding: 5px 15px;
   margin: 0;
}

.place .stars{
   padding: 5px 15px;
   color: #d9d9d9;
   font-size: smaller;
}

.blue{
   color: #0065FC;
}
   
   /*Popular*/

.popular{
      background-color: #f2f2f2;
      width: 385px;
      padding: 40px ;
      border-radius: 25px;
}

.popular-title{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   margin-bottom: 30px;
}

.popular-title h2{
   margin: 0;
}

.popular-title i{
   font-size: 25px;
}

.popular-bubble-1 h3,.popular-bubble-1 p{
   margin: 5px 15px;
}

.popular-bubble img{
   border-radius: 25px 0 0 25px;
   object-fit: cover;
   width: 150px;
   height: 150px;
}

.popular a{
   color: black;
   text-decoration: none;
   display: flex;

}

.popular-bubble-1{
   border: 4px solid white;
   border-radius: 25px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   width: 375px;
   margin-bottom: 40px;
   position: relative;
}

.popular-bubble-txt{
   display: block;
   padding: 10px 0;
   max-width: 200px;
}

.popular-bubble-1 .stars{
   margin-left: 15px;
   color: #d9d9d9;
   font-size: smaller;
   position: absolute;
   bottom: 10px;
}