*{
   scroll-behavior: smooth;
}

body{
   font-family: "Raleway", sans-serif;
   margin: 0;
   width: auto;
}

.bold{
   font-weight: bold;
}
/* Nav */

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav img{
   height: 50px;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 30px;
}

nav ul{
   list-style: none;
   display: flex;
   margin-top: 10px;
}

nav li{
   margin: 0 15px;
   block-size: 100%;
}

nav a{
   color: black;
   padding: 51px 25px 0;
   text-decoration: none;
   font-weight: 500;
}
nav a:hover{
   color:#0065FC;
   border-top: 2px solid #0065FC;
}

  /*Bloc-0*/

  .bloc-0{
   margin: 0 40px;
   block-size: min-content;
}
   /*Search*/

.search h1{
   font-size: 22px;
}

.search h2{
   font-weight:normal;
   font-size: 17px;
}

form{
   display: flex;
   flex-wrap: wrap;
}

#location{
   display: flex;
   color: black;
   background-color: #f2f2f2;
   padding: 13px;
   width: 22px;
   font-size: larger;
   border-radius: 15px 0 0 15px;
   justify-content: center;
   align-items: center;
}

.search-bar input[type=search]{
   font-size: large;
   font-family: "Raleway", sans-serif;
   font-weight: bold;
   border-top: 1px solid #f2f2f2;
   border-bottom: 1px solid #f2f2f2;
   border-left: none;
   border-right: none;
   padding: 13px;
}

.search-bar input:focus{
   outline: none;
}

.search-bar input[type=submit]{
   font-size: large;
   font-family: "Raleway", sans-serif;
   font-weight: bold;
   background-color: #0065FC;
   color: white;
   padding: 13px;
   border-radius: 0 15px 15px 0;
   border: none;
}

.search-bar button{
   display: none;
}

   /*Filter*/

.filter h1{
   font-size: larger;
   margin: 15px;
}

.filter{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 30px;
}

.filter ul{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}

.filter li{
   margin: 0 10px;
   border: 2px solid #d9d9d9;
   border-radius: 40px ;
   font-weight: bold;
   font-size: larger;
}

.filter i{
   color:#0065FC;
   background-color: #DEEBFF;
   padding: 12px;
   width: 20px;
   margin-right: 8px;
   border-radius: 25px;
   transition: 0.5s;
   text-align: center;
}

.filter a{
   display: block;
   color: black;
   padding-right: 12px;
   border-radius: 25px;
   text-decoration: none;
   transition: 0.5s;
}

.filter a:hover {
   background-color:#0065FC;
   color: #DEEBFF;
}

.filter a:hover i {
   background-color:#0065FC;
   color: #DEEBFF;
}

   /*Filter-sub*/

.filter-sub{
   margin-top: 15px;
   margin-bottom: 30px;
}
.filter-sub i{
   color:#0065FC;
   padding: 4px;
   width: 17px;
   margin-right: 8px;
   border: 3px solid #d9d9d9;
   border-radius: 25px;
   object-fit: contain;
   text-align: center;
}

.filter-sub h2{
   font-weight:normal;
   font-size: 17px;
}

/* Main */ 
   
   /*Bloc-1*/

.bloc-1{
   display: flex;
   margin: 0 40px;
}

   /*Place*/

.place{
   background-color: #f2f2f2;
   width: 66.5%;
   height: 622px;
   padding: 40px;
   padding-right: 0;
   border-radius: 20px;
   margin-right: 40px;
}

.place h2{
   margin: 0;
   margin-bottom: 30px;
}


.place-bubble{
   display: flex;
   align-items: center;
}

.place-bubble img{
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   width: 100%;
   height: 150px;
}

.place-bubble a{
   color: black;
   text-decoration: none;
}

.place-bubble-1{
   border: 4px solid white;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   width: 100%;
   margin-right: 40px;
   margin-bottom: 40px;
}

.place-bubble-1 h3,.place-bubble-1 p{
   padding: 3px 15px;
   margin: 0;
}

.place .stars{
   padding: 2px 15px;
   color: #d9d9d9;
   font-size: smaller;
}

.blue{
   color: #0065FC;
}

.place h4{
   margin: 0;
   text-decoration: none;
   width: 100px;
}

.place h4 a{
   color: black;
   text-decoration: none;
}

.place h4 a:hover{
   color: #0065FC;
}

   /*Popular*/

.popular{
   background-color: #f2f2f2;
   width: 25.5%;
   height: 662px;
   padding: 40px;
   padding-bottom: 0;
   border-radius: 20px;
}

.popular-title{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   margin-bottom: 30px;
}

.popular-title h2{
   margin: 0;
}

.popular-title i{
   font-size: 25px;
}

.popular-bubble-1 h3,.popular-bubble-1 p{
   margin: 5px 15px;
}

.popular-bubble img{
   border-radius: 20px 0 0 20px;
   object-fit: cover;
   width: 150px;
   height: 150px;
}

.popular a{
   color: black;
   text-decoration: none;
   display: flex;

}

.popular-bubble-1{
   border: 4px solid white;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   width: 100%;
   margin-right: 40px;
   margin-bottom: 40px;
   position: relative;
}

.popular-bubble-txt{
   display: block;
   padding: 10px 0;
   max-width: 200px;
}

.popular-bubble-1 .stars{
   margin-left: 15px;
   color: #d9d9d9;
   font-size: smaller;
   position: absolute;
   bottom: 10px;
}

   /* Activity */
   
.activity{
   margin: 0 40px;
}

.activity h2{
   margin: 40px 0;
}

.activity-bubble{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 455px;
   width: auto;
   border-radius: 20px;
   margin-bottom: 40px;
}

.activity-bubble >*, .activity-bubble img{
   width: 100%
}

.activity-bubble-1{
   max-width: 23%;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   margin-right: 40px;
}

.activity-bubble-2{
   width: 23%;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   height: 250px;
   margin-bottom: 40px;
   margin-right: 40px;
}

.activity-bubble-3{
   width: 23%;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   height: 160px;
}

.activity-bubble-4{
   width: 23%;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   height: 204px;
   margin-bottom: 40px;
}

.activity-bubble-5{
   width: 23%;
   border-radius: 20px;
   box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
   background-color: white;
   height: 204px;
}

.activity-bubble-1 img{
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   height: 400px;
}

.activity-bubble-2 img{
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   height: 200px;
}

.activity-bubble-3 img{
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   height: 110px;
}

.activity-bubble-4 img{
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   height: 154px;
}

.activity-bubble-5 img{
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   height: 154px;
}

.activity-bubble a{
   color: black;
   text-decoration: none;
}

.activity-bubble h3{
   padding: 12px 15px 15px 15px;
   margin: 0;
   font-size: medium;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

   /*Footer*/

.bloc-3{
   display: flex;
   padding: 40px 0 40px 40px;
   margin: 0;
   background-color: #f2f2f2;
}

.bloc-3 div{
   font-size: large;
}

.col-1, .col-2{
   margin-right: 20%;
}

.col-3{
   margin-right: 80px;
}

.bloc-3 h3{
   margin: 0;
}

.bloc-3 p{
   display: table;
}

.bloc-3 a{
   text-decoration: none;
   color: black;
}

.bloc-3 p:hover{
   color: #0065FC;
   cursor: pointer;
}

.footer{
   width: auto;
}

/* Breakpoint */
@media all and (max-width: 1478px)
{
   .bloc-1{
      flex-wrap: wrap;
   }

   .popular{
      width: 100%;
      height: fit-content;
      padding: 40px 0 0 40px;
   }

   .popular-title{
      padding-right: 40px;
   }

   .place{
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
   }

   .popular-bubble{
      display: flex;
   }

}


/* Responsive tablette */

@media all and (max-width: 992px) 
{
   body{
      width: auto;
      margin: 0;
   }
   
   .bloc-1{
      flex-direction: column-reverse;
      width: 100%;
      margin: 0;
   }

   nav{
      width: auto;
   }

   .filter li{
      margin: 0;
      margin-bottom: 10px;
      margin-right: 15px ;
      text-align: left;
   }

   .place{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 40px;
      border-radius: 0;
   }
   
   .place-display{
      display: flex;
      flex-direction: row;
   }
   
   .place-bubble{
      flex-direction: column;
      width: 100%;
      margin: 0 30px 0 30px;
   }
   
   .place-bubble-1 img{
      width: 100%;
   }

   .place-bubble-1 {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
   }

   .place h2{
      margin-top: 30px;
      margin-left: 30px;
   }

   .place h4{
      margin: 0px 0 30px 30px;
   }

   .popular{
      width: 100%;
      padding: 0;
      border-radius: 0;
   }

   .popular-title{
      margin: 30px;
   }

   .popular-bubble{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
   }

   .popular-bubble img{
      width: 300px;
   }

   .popular-bubble-1 {
      margin-left:30px;
      margin-right:30px;
      margin-bottom:30px;
      height: 158px;
      width: 100%;

   }

   .activity{
      padding: 0;
      margin: 0;
   }

   .activity{
      width: 100%;
      margin: 0;
      flex-wrap: nowrap;
   }

   .activity h2{
      margin: 0;
      margin-left: 30px;
      margin-bottom: 30px;
   }
   
   .activity-bubble{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
      margin: 0;
      justify-content: center;   
   }

   .activity-bubble-1, .activity-bubble-2, .activity-bubble-3, .activity-bubble-4, .activity-bubble-5{
      border-radius: 20px;
      box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 250px;
      width: 28%;
      max-width: none;
      margin: 0 20px 40px 20px;

   }

   .activity-bubble img{
      border-radius: 20px 20px 0 0;
      width: 100%;
      object-fit: cover;
      height: 200px;
   }

   .bloc-3{
      display: flex;
      justify-content: space-evenly;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
   }

   .col-1, .col-2, .col-3{
      margin-right: 40px;
      margin-top: 40px;
      width: auto;
   }


}

/* Responsive mobile */

@media all and (max-width: 768px) 
{
   body{
      width: auto;
      margin: 0;
   }
   
   nav{
      flex-direction: column;
   }
   
   nav img{
      margin: 20px 0;
   }
   nav li {
      display: flex;
      margin: 0;
      width: 50%;
   }
   
   nav ul{
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      width: 100%;
      justify-content: center;
   }
   
   nav a{
      display: flex;
      justify-content: center;
      padding: 15px;
      width: 100%;
      border-bottom: 3px solid #f9f9f9;
   }
   
   nav a:hover{
      border-top: none;
      border-bottom: 3px solid #0065FC;
   }   

   .bloc-0{
      margin: 0 15px;
   }

   .search{
      margin: 0 15px;
   }

   .search-bar input[type=submit]{
      display: none;
   }

   .search-bar button{
      display: flex;
      width: 50px;
      height: 50px;
      color: white;
      background-color: #0065FC;
      font-size: larger;
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      border: none;

   }

   .search-bar button i{
      padding: 13px;
      width: 22px;
   }

   .filter{
      flex-direction: column;
      align-items: baseline;
   }
   
   .filter ul{
      flex-wrap: wrap;
   }

   .filter li{
      margin: 0;
      margin-bottom: 10px;
      margin-right: 15px ;
      text-align: left;
   }

   .bloc-1{
      flex-direction: column-reverse;
      width: 100%;
   }

   .popular{
      border-radius: 0;
      width: 100%;
      padding: 0;
   }

   .popular-bubble{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   .popular-bubble-1 {
      width: 88%;
      margin: 0;
      margin-bottom: 15px;
   }

   .popular h2{
      margin-left: 30px;
   }

   .popular-title i{
      margin-right: 30px;
   }

   .popular-title{
      margin: 30px 0;
      align-items: center;
   }

   .popular-bubble img{
      width: 150px;
   }
   .place{
      background-color: white;
      padding:0 ;
      width: 100%;
      border-radius: 20px;
      margin-bottom:0;
      margin-right: 40px;
   }

   .place h2{
      margin-left: 30px;
      margin-top: 30px;
   }

   .place-bubble{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
   }

   .place-display{
      display: flex;
      flex-direction: column;
   }
   
   .place-bubble-1 img{
      width: 100%;
      object-fit: cover;
      object-position: bottom;
   }

   #amina{
      width: 100%;
      object-fit: cover;
      object-position: 0 60%;
   }

   .place-bubble-1{
      margin: 0;
      margin-bottom: 15px;
      width: 88%;

   }

   .place h4{
      margin-top: 20px;
      margin-left: 20px;
   }

   .activity{
      width: 100%;
   }

   .activity{
      width: 100%;
      flex-wrap: wrap;
   }

   .activity h2{
      margin: 30px;
   }

   .activity-bubble{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin: 0;
   }

   .activity-bubble-1, .activity-bubble-2, .activity-bubble-3, .activity-bubble-4, .activity-bubble-5{
      width: 88%;
      height: 204px;
      margin: 0;
      margin-bottom: 15px;
   }

   .activity-bubble a{
      margin-bottom: 15px;
      width: 88%;
   }

   .activity-bubble img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      position: relative;
   }

   .bloc-3{
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
   }

   .col-1, .col-2, .col-3{
      padding-left: 20px;
      margin-right: 0;
      width: 88%;
   }

}